.centerContent {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  height: 250px;
  width: 250px;
}
.card_top {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.foto {
  height: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.foto img {
  max-height: 100%;
  max-width: 100%;
}

.button {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.price {
  font-size: 20px;
}
.pricename {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 10px;
}
.normal {
  border-top-left-radius: 0 !important;
}
.desde {
  border-top-right-radius: 0 !important;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid lightgray;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
