.navBar {
  background-color: #17a2b8 !important;
  display: flex;
  flex-direction: row;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  min-height: 40px;
}

.logo {
  height: 40px;
  margin-right: 5px;
}

.name {
  color: white;
  font-weight: 900;
  font-size: 19px;
  margin: auto !important;
}

.categories {
  flex-grow: 1;
  justify-content: center;
}

.profile {
}

.nav,
.navBar a {
  color: white !important;
}

.nav {
  flex-grow: 1;
  align-items: center;
}

.iconUser {
  font-size: 25px;
}

.dropdown::after {
  border-top: 0 !important;
}

.miHome {
  color: white !important;
  font-weight: bold;
  font-size: larger;
}
